* {
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 1200px;
    background-color: rgb(182, 194, 216);
}

.list {
    display: flex;
    justify-content: center;
}

#header {
    width: 100%;
    height: auto;
    background-color: rgb(186, 161, 243);
    padding: 50px 0;
}

.nav-body{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.list li {
    list-style-type: none;
    margin: 0 25px;
}

.list li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: poppins;
    transition: 1s all ease;
}

.list a:hover {
    color: rgb(36, 5, 5);
    transition: 1s all ease;
}

/* card unit */

.all-card{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.card-detail{
    width: 350px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 12px 13px;
   


}
.card-detail img{
    width: 100%;
}
.card-detail h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700px;
    margin: 20px 0;
    color: cornflowerblue;
}
.card-detail span{
    color: tomato;
    font-family: cursive;
}
.card-detail p{
    font-size: 20px;
    font-family: serif;
    font-weight: 400px;
    color: black;
}

.btn button{
    padding: 10px 15px;
    background-color: plum;
    color: black;
    border: none;
border-radius: 30px;
cursor: pointer;
transition: 5s all ease;
margin-top: 8px;


}
.btn button:hover{
    background-color: tomato;
    color: white;
    transition: .5s all ease;
}


/* --------------responsibe------------------*/
/* @media only screen and (max-width: 600px) and (min-width:300px) {  */



@media only screen and (max-width: 600px) and (min-width:300px) {
        .list {
            list-style-type: none;
            display: flex;
            flex-direction: column;
          
            padding-top: 20px;


        }

        .list li a {
            margin-top: 20px;
            width: 100%;
            text-decoration: none;
            color: white;
            font-size: 20px;


        }

        #header {

            background-color: rgb(226, 95, 148);
            padding: 25px 0;

        }

        .list li {
            margin: 10px 0;
        }

        .list li a:hover {
            color: black;
            padding: 15px 25px;
            background-color: rgb(228, 129, 109);



        }
        /* card sector */
.container{
    width: 100%;
}
        .all-card{
           
            display: flex;
            flex-direction: column;
            background-color: aqua;
           
            
        }
        
.card-detail{
    width: 280px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 400;
}
.card-detail img{
    width: 100%;
}
    }









    


